In [1]:
%run ./aiko_circle_detection.ipynb

In [2]:
my_excel = ht_main()

In [6]:
my_excel

        Data Kayu  Detected Circle  Radius Avg  Circle Density
0   12073 (1).jpg               41   64.804878        0.000291
1   12073 (2).jpg               50   68.860000        0.000377
2   12073 (3).jpg               48   64.416667        0.000338
3   14734 (1).jpg              139   42.748201        0.000650
4   14734 (2).jpg              150   43.946667        0.000721
5   14734 (3).jpg              145   43.744828        0.000694
6   19081 (1).jpg              104   65.682692        0.000747
7   19081 (2).jpg               94   66.659574        0.000685
8   19081 (3).jpg               71   60.183099        0.000467
9   23551 (1).jpg               46   57.347826        0.000288
10  23551 (2).jpg               33   59.878788        0.000216
11  23551 (3).jpg               34   64.823529        0.000241
12   3011 (1).jpg               42   63.690476        0.000293
13   3011 (2).jpg               47   62.148936        0.000319
14   3011 (3).jpg               39   64.153846        0.000274
15  31148 (1).jpg              113   66.504425        0.000822
16  31148 (2).jpg              119   67.386555        0.000877
17  31148 (3).jpg              113   63.778761        0.000788
18  E2259 (1).jpg               38   64.868421        0.000270
19  E2259 (2).jpg               55   68.690909        0.000413
20  E2259 (3).jpg               44   68.340909        0.000329

In [11]:
((np.pi * my_excel.iloc[0, 2]) * 41) / (3024*3024)

0.0009128046702863076

In [17]:
(3024*3024) - ((np.pi * my_excel.iloc[5, 2]**2) * 145)

8272867.47499648

In [15]:
3024*3024

9144576

In [16]:
((np.pi * my_excel.iloc[5, 2]**2) * 145)

871708.5250035197

In [21]:
(np.pi*my_excel.iloc[5, 2]**2) * 145

871708.5250035197